/** CSS Styles */

#getting-started .intro {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}

#getting-started .card {
  border-radius: 0;
  margin-bottom: 5rem;
}

#getting-started a {
  color: inherit;
}

#getting-started .list {
  margin: 0 2rem !important;
}

#getting-started main {
  text-align: center;
}

#getting-started h2 {
  text-align: center;
}